---
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title?: string;
	description?: string;
	ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<BaseLayout title={title} description={description} ogImage={ogImage}>
	<div class="max-w-[720px] mx-auto px-6 py-24 md:py-32">
		<article class="prose">
			<slot />
		</article>
	</div>
</BaseLayout>
